.arrow-up {
    width: 40px;
    height: 40px;
    background: #FDC60B;
    color: #000;
    border-radius: 4px;
    text-align: center;
    line-height: 40px;
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 5;
    cursor: pointer;
}