.progress-bar {
    position: fixed;
    height: 10px;
    padding: 2px;
    background: #FDC60B;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 5;

    .status {
        background: #000;
        height: 100%;
    }
}